if SHIELD_BRIZY_LEFT

config ZMK_KEYBOARD_NAME
    default "Brizy"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BRIZY_LEFT || SHIELD_BRIZY_RIGHT

config ZMK_SPLIT
    default y

endif
